#body {
    padding-top: 48px;
}

#page-header {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 48px;
    background: $background[2];
    text-align: center;
}
#page-header .header-content {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
    text-align: left;
}
#page-header .header-content>div {
    height: 48px;
}
#page-header .header-content .floatLeft {
    float: left;
}
#page-header .header-content .floatRight {
    float: right;
}
#page-header .header-content .logo {
    width: 48px;
    text-align: center;
}
#page-header .header-content .logo a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #fff;
    color: $background[2];
    text-align: center;
    line-height: 36px;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 6px;

    border-radius: 100%;
}
#page-header .header-content .panel {}
#page-header .header-content .html-button-avatar {
    margin-top: 4px;
    vertical-align: top;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;

    border-radius: 100%;
}
#page-header .header-content .html-button-avatar img {
    max-height: 40px;
    display: inline-block;
    vertical-align: middle;

    border-radius: 100%;
}