<!DOCTYPE html>
<html lang='{header:lang}'>
<head>
{header:metatags}
{DOM:CSS}{DOM:JS}
</head>
<body>
<!-- START #body-view -->
<div id='body-view'>
<!-- START #body -->
<div id='body'>

<div id='admin-page-header'>

    <div>
        {menu:adminTopPanel}
    </div>

</div>

<!-- START #admin-page-body -->

<div id='admin-page-body'>
    <div class="admin-page-panel" id="admin-page-left-panel">{menu:adminLeftPanel}</div>
    <div class="admin-page-panel" id="admin-page-middle-panel">